<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <title>Brain Tumor Segmentation App</title>

    {% load static %}

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Theme switcher (color modes) -->
    <script src="{% static 'js/theme-switcher.js' %}"></script>

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#6366f1">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      [data-bs-theme="dark"] .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      [data-bs-theme="dark"] .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      [data-bs-theme="dark"] .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <header class="header navbar navbar-expand-lg position-absolute navbar-sticky">
        <div class="container px-3">
          <a href="index.html" class="navbar-brand pe-3">
            <img src="{% static 'img/logo-unnes.png' %}" width="47" alt="Unnes">
            <!-- Brain Tumor Segmentation App -->
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="#home" class="nav-link">Beranda</a>
                </li>
                <li class="nav-item">
                  <a href="#features" class="nav-link">Segmentasi</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </header>

      <!-- Hero -->
      <section class="overflow-hidden pt-5" id="home" style="background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);">
        <div class="container pt-3 pt-sm-4 pt-xl-5 px-lg-5">
          <div class="row pt-md-2 pt-lg-5">
            <div class="col-md-5 d-flex flex-column mt-md-4 pt-5 pb-3 pb-sm-4 py-md-5">
              <h1 class="display-5 text-center text-md-start mb-4">Aplikasi Segmentasi Tumor Otak</h1>
              <p class="fs-lg text-center text-md-start pb-2 pb-md-3 mb-4 mb-lg-5">Deteksi dan Segmentasi Tumor Otak Berbasis AI dengan Algoritma UNet dan SegGAN.</p>

              <div class="position-relative d-inline-flex align-items-center justify-content-center justify-content-md-start mt-auto pt-3 pt-md-4 pb-xl-2">
                <a href="#features" class="btn btn-icon btn-light bg-white stretched-link rounded-circle me-3" data-scroll data-scroll-offset="120" aria-label="Scroll for more">
                  <i class="bx bx-chevron-down"></i>
                </a>
                <span class="fs-sm">Pelajari lebih lanjut</span>
              </div>     
            </div>
            <div class="col-md-7 align-self-end">
              <div class="position-relative overflow-hidden mt-4 pb-3 pt-4 mx-auto me-md-0" style="max-width: 400px;">
                <div class="ratio ratio-1x1"></div>
                <img src="{% static 'img/brain-tumor.png' %}" class="rellax position-absolute top-0 start-0 zindex-2"  data-rellax-speed="1.6" data-disable-parallax-down="md" alt="Phone">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Features -->
      <section class="container pt-5 pb-2 pb-md-3 py-lg-5" id="features">
        <div class="row align-items-center my-3 py-md-3 py-lg-5">
          <div class="col-12 col-lg-8 offset-lg-2 order-md-1 pb-md-4">
            {% if prediction_image_base64 %}
              <h2>Segmentation Result:</h2>
              <img src="data:image/png;base64,{{ prediction_image_base64 }}" alt="Segmentation Result" />
            {% else %}
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mt-4">
                  <label for="flairFile" class="form-label">Masukkan Citra Fluid Attenuated Inversion Recovery (FLAIR) Otak</label>
                  <input class="form-control" type="file" id="flairFile" name="flairFile">
                </div>

                <div class="mt-4">
                  <label for="ceFile" class="form-label">Masukkan Citra Contrast-Enhanced (CE) Otak</label>
                  <input class="form-control" type="file" id="ceFile" name="ceFile">
                </div>
                
                <div class="d-grid mt-4">
                  <button type="submit" class="btn btn-primary">
                    Mulai segmentasi
                    <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
                  </button>
                </div>
              </form>
            {% endif %}

            {% if error %}
              <div style="color: red;">
                  {{ error }}
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Extra spacing for dark mode only -->
        <div class="pt-5 d-none d-dark-mode-block"></div>
      </section>

      <!-- How it works (Slider) -->
      <section class="position-relative bg-secondary py-5">
        <div class="container mt-3 pt-md-2 pt-lg-4 pb-2 pb-md-4 pb-lg-5">
          <h2 class="h1 text-center pb-2 pb-md-0 mb-4 mb-md-5">Bagaimana Cara Kerja Model Segmentasi UNet-SegGan?</h2>
          <div class="position-relative mx-5">

            <!-- Slider prev/next buttons -->
            <button type="button" id="prev-screen" class="btn btn-prev btn-icon position-absolute top-50 start-0 ms-n5 translate-middle-y" aria-label="Previous">
              <i class="bx bx-chevron-left"></i>
            </button>
            <button type="button" id="next-screen" class="btn btn-next btn-icon position-absolute top-50 end-0 me-n5 translate-middle-y" aria-label="Next">
              <i class="bx bx-chevron-right"></i>
            </button>

            <!-- Swiper slider -->
            <div class="swiper mobile-app-slider" data-swiper-options='{
              "slidesPerView": 1,
              "centeredSlides": true,
              "loop": true,
              "tabs": true,
              "pagination": {
                "el": "#swiper-progress",
                "type": "progressbar"
              },
              "navigation": {
                "prevEl": "#prev-screen",
                "nextEl": "#next-screen"
              },
              "breakpoints": {
                "768": { "slidesPerView": 3 }
              }
            }'>
              <div class="swiper-wrapper">
                <!-- Item -->
                <div class="swiper-slide" data-swiper-tab="#text-1">
                </div>

                <!-- Item -->
                <div class="swiper-slide" data-swiper-tab="#text-2">
                </div>

                <!-- Item -->
                <div class="swiper-slide" data-swiper-tab="#text-3">
                </div>
              </div>
            </div>
          </div>

          <!-- Swiper tabs (Description text) -->
          <div class="row justify-content-center">
            <div class="swiper-tabs col-xl-6 col-lg-7 col-md-8 text-center">

              <!-- Text 1 -->
              <div id="text-1" class="swiper-tab active">
                <h3 class="h4 pb-1 mb-2">1. Algoritma UNet</h3>
                <p class="mb-0">Algoritma UNet digunakan sebagai dasar model segmentasi dan dilatih dengan berbagai citra MRI otak.</p>
              </div>

              <!-- Text 2 -->
              <div id="text-2" class="swiper-tab">
                <h3 class="h4 pb-1 mb-2">2. Algoritma SegGAN</h3>
                <p class="mb-0">Model UNet yang telah dilatih, kemudian digunakan sebagai generator pada Algoritma SegGan dan dipasangkan dengan sebuah discriminator.</p>
              </div>

              <!-- Text 3 -->
              <div id="text-3" class="swiper-tab">
                <h3 class="h4 pb-1 mb-2">3. Model Segmentasi UNet-SegGan</h3>
                <p class="mb-0">Model UNet-SegGan yang telah dilatih dengan algoritma SegGan kemudian digunakan sebagai model akhir dalam melakukan segmentasi citra MRI otak.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slider progress -->
        <div id="swiper-progress" class="swiper-pagination bottom-0" style="top: auto;"></div>
      </section>

      <!-- FAQ -->
      <section class="container py-5 mb-lg-2">
        <div class="row py-2 py-md-4 py-lg-5">
          <div class="col-xl-4 col-md-5 text-center text-md-start pt-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
            <h2 class="pb-3 mb-1 mb-lg-3">Frequently Asked Question</h2>
          </div>
          <div class="col-md-7 offset-xl-1">
            <div class="accordion" id="faq">
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h2 class="accordion-header" id="q1-heading">
                  <button class="accordion-button shadow-none rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="true" aria-controls="q1">
                    Apa itu tumor otak?
                  </button>
                </h2>
                <div id="q1" class="accordion-collapse collapse show" aria-labelledby="q1-heading" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Tumor otak adalah pertumbuhan sel-sel abnormal di dalam atau di sekitar otak. Tumor ini bisa bersifat jinak (non-kanker) atau ganas (kanker), dan mereka dapat berasal dari otak itu sendiri (tumor primer) atau berasal dari bagian lain tubuh yang menyebar ke otak (tumor sekunder atau metastasis). Gejala tumor otak bervariasi tergantung pada ukuran, jenis, dan lokasi tumor, tetapi umumnya meliputi sakit kepala, kejang, gangguan penglihatan, perubahan perilaku, dan kesulitan berbicara atau bergerak. Tumor otak dapat mengancam nyawa karena terbatasnya ruang di dalam tengkorak, sehingga penanganan yang cepat dan tepat sangat penting, termasuk melalui pembedahan, terapi radiasi, kemoterapi, atau kombinasi dari beberapa metode tersebut.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h2 class="accordion-header" id="q2-heading">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q2" aria-expanded="false" aria-controls="q2">
                    Apa itu algoritma UNet?
                  </button>
                </h2>
                <div id="q2" class="accordion-collapse collapse" aria-labelledby="q2-heading" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>UNet adalah arsitektur jaringan saraf tiruan yang dirancang khusus untuk segmentasi gambar, terutama di bidang medis. Algoritma ini memiliki struktur simetris berbentuk "U" dengan dua jalur: kontraktif (encoder) untuk mengekstraksi fitur penting dari gambar, dan ekspansif (decoder) untuk merekonstruksi gambar yang tersegmentasi. Salah satu keunggulan utama UNet adalah skip connections, yang menggabungkan informasi spasial dari encoder ke decoder, memungkinkan segmentasi gambar dengan resolusi tinggi. UNet efektif untuk dataset kecil dan sering digunakan dalam aplikasi segmentasi medis, seperti deteksi dan klasifikasi area tumor pada gambar otak.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h2 class="accordion-header" id="q3-heading">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q3" aria-expanded="false" aria-controls="q3">
                    Apa itu algoritma SegGan?
                  </button>
                </h2>
                <div id="q3" class="accordion-collapse collapse" aria-labelledby="q3-heading" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Segmentation GAN (SegGAN) adalah model yang menggabungkan Generative Adversarial Network (GAN) dengan segmentasi gambar untuk meningkatkan akurasi prediksi. Dalam SegGAN, dua jaringan bersaing: generator yang mencoba menghasilkan peta segmentasi realistis dari gambar masukan, dan discriminator yang membedakan antara hasil segmentasi yang dihasilkan oleh generator dan data segmentasi asli. Melalui proses kompetitif ini, generator belajar menghasilkan segmentasi yang lebih presisi. SegGAN unggul dalam menghasilkan segmentasi yang lebih halus dan detail, terutama pada batas-batas objek yang kompleks, seperti tumor pada citra medis.</p>
                  </div>
                </div>
              </div>
              <!-- <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h2 class="accordion-header" id="q4-heading">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q4" aria-expanded="false" aria-controls="q4">
                    When can I use Banking App services?
                  </button>
                </h2>
                <div id="q4" class="accordion-collapse collapse" aria-labelledby="q4-heading" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula eu etiam quam tristique tincidunt suspendisse ut consequat.</p>
                    <p class="mb-0">Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h2 class="accordion-header" id="q5-heading">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q5" aria-expanded="false" aria-controls="q5">
                    Can I create my own password that is easy for me to remember?
                  </button>
                </h2>
                <div id="q5" class="accordion-collapse collapse" aria-labelledby="q5-heading" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula eu etiam quam tristique tincidunt suspendisse ut consequat.</p>
                    <p class="mb-0">Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0 rounded-3 shadow-sm">
                <h2 class="accordion-header" id="q6-heading">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q6" aria-expanded="false" aria-controls="q6">
                    What happens if I forget or lose my password?
                  </button>
                </h2>
                <div id="q6" class="accordion-collapse collapse" aria-labelledby="q6-heading" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula eu etiam quam tristique tincidunt suspendisse ut consequat.</p>
                    <p class="mb-0">Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </main>


    <!-- Footer -->
    <footer class="footer pt-5 pb-4 pb-lg-5">
      <div class="container text-center pt-lg-3">
        <div class="navbar-brand justify-content-center text-dark mb-2 mb-lg-4">
          <img src="{% static 'img/logo-unnes.png' %}" class="me-2" width="120" alt="Unnes">
        </div>
        <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
          <li class="nav-item"><a href="#home" class="nav-link">Beranda</a></li>
          <li class="nav-item"><a href="#features" class="nav-link">Segmentasi</a></li>
        </ul>
        <p class="nav d-block fs-sm text-center pt-5 mt-lg-4 mb-0">
          <span class="opacity-80">2024 &copy; All rights reserved</span>
        </p>
      </div>
    </footer>


    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="{% static 'vendor/rellax/rellax.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main Theme Script -->
    <script src="{% static 'js/theme.min.js' %}"></script>
  </body>
</html>